body{
  font-family: Arial, Helvetica, sans-serif;

}

.todo-header{
  margin-left : 250px;
  margin-bottom: 50px;
}

.fields-container{
  margin-bottom: 50px;
}
.todo-name-input,
.todo-date-input,
.todo-add-btn{
  padding: 10px;
  width: 200px;
  font-size: 21;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 3px 2px rgba(150, 150, 150, 0.2);
}

.todo-add-btn,
.todo-delete-btn{
  background-color: rgb(71, 152, 244);
  color: white;
  box-shadow: none;
  font-weight: bold;
  border: none;
  padding: 11px;
  transition: opacity 0.25s;

}
.todo-add-btn:hover,
.todo-delete-btn:hover{
  opacity: 0.8;
}
.todo-add-btn:active,
.todo-delete-btn:active{
  opacity: 0.6;
}
.todo-list-container{
  display: grid;
  grid-template-columns: 250px 200px 150px;
  font-size: 15px;
  grid-gap: 20px;
  align-items: center;
  margin-left: 10px;
}
.todo-delete-btn{
  background-color: rgb(246, 82, 82);
  border-radius: 5px;
  margin-left: 50px;

}
.todo-name-input{
  margin-left: 10px;
}

.todo-name{
  font-weight: bold;
}
.todo-empty-message{
  font-size: 25px;
  font-weight: bold;
}


