body{
  font-family: Arial, Helvetica, sans-serif;

}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}

.todo-header{
  margin-bottom: 50px;
  text-align: center;
}

.fields-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 50px;
}


.todo-name-input,
.todo-date-input,
.todo-add-btn{
  padding: 10px;
  min-width: 100px;
  font-size: 21;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 3px 2px rgba(150, 150, 150, 0.2);
}

.todo-add-btn,
.todo-delete-btn,
.todo-check-btn{
  background-color: rgb(71, 152, 244);
  color: white;
  box-shadow: none;
  font-weight: bold;
  border: none;
  padding: 11px;
  transition: opacity 0.25s;
  cursor: pointer;

}


.todo-check-btn{
  margin-left: 0;

}
.todo-add-btn:hover,
.todo-delete-btn:hover,
.todo-check-btn:hover{
  opacity: 0.8;
}
.todo-add-btn:active,
.todo-delete-btn:active,
.todo-check-btn:active{
  opacity: 0.6;
}
.todo-list-container{
  display: flex;
  min-width: 350px;
  flex-direction: column;
}

.todo-row{
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 15px;
  grid-gap: 20px;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

}
.btn-container{
  display: flex;
  flex-direction: row;

}

.todo-check-btn,
.todo-delete-btn{
  margin-left: 10px;
  border-radius: 5px;
  min-width: 75px;

}

.todo-row-odd{
  background-color: rgb(219, 208, 208);
}
.todo-row-even{
  background-color: pink;
}

.todo-row-clicked{
  background-color: rgba(36, 110, 36, 0.534);
  color: white;
  grid-gap: 16px;

}

.todo-date{
  max-width: 200px;
  min-width: 20px;
  margin-right: 70px;

}
.todo-delete-btn-odd,
.todo-delete-btn-even{
  background-color: rgb(246, 82, 82);
  border-radius: 5px;

}
.todo-delete-btn-odd{
  background-color: grey;

}

.todo-checked{
  background-color: green;
}
.todo-name-input{
  margin-left: 10px;
}

.todo-name{
  font-weight: bold;
  margin-left: 10px;
}
.todo-empty-message{
  font-size: 25px;
  font-weight: bold;
}
.pop-up-container-hidden,
.pop-up-container-visible{
  display: block;
  visibility: hidden;
  grid-template-columns: 1fr;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 10px;
  position: absolute;
  width: fit-content;
  max-width: 300px;
  min-width: 100px;
  top: 200px;
  text-align: center;
  box-shadow: 0px 2px 100px rgba(150, 150, 150, 0.851);

  
}

.pop-up-container-visible{
  visibility: visible;
}
.pop-up-button-container{
  display: block;
  grid-template-columns: 1fr 1fr;
}
.pop-up-message{
  font-family: Arial, Helvetica, sans-serif;
  color: BLACK;
  font-weight: bold;
  font-size: 15px;
  
}
.pop-up-button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: grey;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
}




